development: &defaults
  # adapter: mysql2
  # encoding: utf8
  # database: peatio_development
  # username: root
  # password:
  # pool: 10
  # reconnect: true
  # host: db
  adapter: sqlite3
  database: db/peatio_development.db
  pool: 5
  timeout: 5000

test:
  <<: *defaults
  database: db/peatio_test.db

production:
  <<: *defaults
  database: db/peatio_production.db
